@import '../../styles/variables';

.bird {
  &__info-title {
    color: $trout;
    margin-bottom: 5px;
  }

  &__info-value {
    color: $mineSharf;
  }

  &__info-title, &__info-value {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }

  &__bird-container {
    position: relative;
    padding: 85px 0 285px;
    width: 400px;
    margin: 0 auto;
  }

  &__dashed-line-neck,
  &__dashed-line-saddle,
  &__dashed-line-right-wing,
  &__dashed-line-left-wing,
  &__dashed-line-left-knee,
  &__dashed-line-right-knee,
  &__dashed-line-left-below-knee,
  &__dashed-line-right-below-knee {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
  }

  &__dashed-line-neck {
    width: 110px;
    height: 60px;
    border-top: dashed 1px #546E7A;
    transform: rotate(-145deg);
    left: 27%;
    top: 15%;
  }

  &__dashed-line-saddle {
    width: 74px;
    height: 28px;
    border-top: dashed 1px #546E7A;
    transform: rotate(-28deg);
    left: 50%;
    top: 16%;
  }

  &__dashed-line-right-wing,
  &__dashed-line-left-wing {
    width: 190px;
    height: 140px;
    border-bottom: dashed 1px #546E7A;
    top: 17%;
  }

  &__dashed-line-right-wing {
    left: -37%;
    transform: rotate(10deg);
  }

  &__dashed-line-left-wing {
    transform: rotate(-15deg);
    right: -34%;
  }

  &__dashed-line-left-knee,
  &__dashed-line-right-knee {
    width: 285px;
    height: 110px;
    border-bottom: dashed 1px #546E7A;
    top: 33%;
  }

  &__dashed-line-left-knee {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 0;
    right: -22%;
  }

  &__dashed-line-right-knee {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30%;
    left: -23%;
  }

  &__dashed-line-left-below-knee,
  &__dashed-line-right-below-knee {
    width: 100px;
    height: 40px;
    border-top: dashed 1px #546E7A;
    top: 52%;
  }

  &__dashed-line-left-below-knee {
    transform: rotate(-32deg);
    left: 24%;
  }

  &__dashed-line-right-below-knee {
    transform: rotate(32deg);
    right: 25%;
  }

  &__neck-info,
  &__saddle-info,
  &__right-wing-info,
  &__left-wing-info,
  &__left-knee-info,
  &__right-knee-info,
  &__right-below-knee-info,
  &__left-below-knee-info {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  &__neck-info {
    left: -28%;
    top: 5%;
  }

  &__neck-info-btn {
    position: absolute;
    left: 24%;
    top: 13%;
  }

  &__saddle-info {
    right: -34%;
    top: 5%;
  }

  &__saddle-info-btn {
    position: absolute;
    right: 27%;
    top: 11%;
  }

  &__right-wing-info,
  &__left-wing-info {
    top: 22%;
  }

  &__right-wing-info {
    right: -93%;
  }

  &__right-wing-info-btn {
    position: absolute;
    right: -36%;
    top: 29%;
  }

  &__left-wing-info {
    left: -94%;
  }

  &__left-wing-info-btn {
    position: absolute;
    left: -38%;
    top: 30%;
  }

  &__left-knee-info,
  &__right-knee-info {
    top: 43%;
  }

  &__left-knee-info-btn,
  &__right-knee-info-btn {
    position: absolute;
    bottom: 48%;
  }

  &__left-knee-info {
    left: -101%;
  }

  &__left-knee-info-btn {
    left: -30%;
  }

  &__right-knee-info {
    right: -108%;
  }

  &__right-knee-info-btn {
    right: -29%;
  }

  &__right-below-knee-info,
  &__left-below-knee-info {
    top: 57%;
  }

  &__right-below-knee-info-btn,
  &__left-below-knee-info-btn {
    position: absolute;
    bottom: 39%;
  }

  &__right-below-knee-info {
    right: -31%;
  }

  &__right-below-knee-info-btn {
    right: 22%;
  }

  &__left-below-knee-info {
    left: -32%;
  }

  &__left-below-knee-info-btn {
    left: 22%;
  }

  &__btn-delete {
    padding: 0;
    background-color: transparent;
    border: none;
    height: 36px;
    margin-left: 10px;
  }

  &__btn-plus {
    padding: 0;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: $white;

    &:active {
      opacity: 0.5;
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__edit-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
  }

  &__edit-form-el {
    flex-direction: column;
  }

  &__autosuggest {
    height: 36px;
    width: 160px;
  }

  &__input-field {
    width: 78px;
    height: 36px;

    &:disabled {
      border: none;
      background-color: transparent;
      padding-left: 0;
    }
  }

  &__input-container {
    padding-left: 8px;
  }

  &__plus-edit {
    height: 33px;
    margin-left: 10px;
  }

  &__field-label {
    font-family: "Open Sans";
    color: $mineSharf;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
}