.signin-form {
    &__link {
        font-family: Helvetica;
        font-size: 14px;
        letter-spacing: 0.1px;
        line-height: 18px;
    }

    &__error {
        font-family: Helvetica;
        font-size: 12px;
        letter-spacing: 0.09px;
        line-height: 18px;
    }
}