@import '../../styles/mixins';

.form-control {
  &__group {
    margin-bottom: 18px;
  }

  &__label {
    @include form-text-content;

    font-weight: 600;
    height: 18px;
    color: #525462;
  }

  &__input {
    @include input-text;

    height: 36px;
    border: 1px solid #C0C3CE;
    border-radius: 3px;
    background-color: #FFFFFF;
  }
}