@import "../../../styles/variables";

.add-observation {
  padding: 15px;
  background-color: $white;

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }

  &__back-btn,
  &__send-btn {
    height: 36px;
    font-size: 15px;
    padding: 0 20px;
    border: none;
  }

  &__back-btn {
    background-color: transparent;
    color: $dark-blue;
    border: 1px solid $dark-blue;

    &:hover, &:active {
      background-color: rgba($blueBayox, 1) !important;
    }
  }

  &__send-btn {
    background-color: rgba($orange, 0.9);

    &:hover, &:active {
      background-color: rgba($orange, 1) !important;
    }
  }
}
