@import '../../../styles/variables';

.create-bird {
  padding: 15px;
  background-color: $white;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    color: $mineSharf;
    font-size: 36px;
    font-weight: 100;
  }

  &__subtitle {
    color: $trout;
    font-size: 14px;
    line-height: 18px;
    width: 450px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
  }

  &__back-btn,
  &__save-btn {
    height: 36px;
    font-size: 16px;
    padding: 0 20px;
    border: none;
  }

  &__back-btn {
    background-color: transparent;
    color: $dark-blue;
    border: 1px solid $dark-blue;

    &:hover {
      background-color: rgba($blueBayox, 1);
    }
  }

  &__save-btn {
    background-color: rgba($orange, 0.9);

    &:hover {
      background-color: rgba($orange, 1);
    }
  }

  &__page-back-btn {
    margin: 2px 0 7px;
  }
}