@mixin error {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.09px;
}

@mixin text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
}

@mixin form-text-content {
    @include text;
}

@mixin input-text {
    @include text;

    font-family: 'Source Sans Pro', sans-serif;
}