@import "./variables";

@mixin error {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.09px;
}

@mixin text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

@mixin form-text-content {
  @include text;
}

@mixin input-text {
  @include text;
}

@mixin button-shadow {
  box-shadow: 0 0 6px rgba($black, 0.2);
}

@mixin primary-button {
  color: $primary;
  border-color: $primary-active;
  background-color: $white;

  &:hover {
    color: $white;
    background-color: $primary-active;
  }
}

@mixin secondary-button {
  color: $white;
  border-color: $interactive;
  background-color: $interactive;

  &:hover {
    border-color: $primary-active;
    background-color: $primary-active;
  }
}

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
