$primary: #546e7a;
$secondary: #546e7a;
$white: #ffffff;
$black: #000000;
$lighter-blue: #d7e3e9;
$light-blue: #e1ffff;
$dark-blue: #546e7a;
$darker-blue: #0f303f;
$trout: #484857;
$silver: #bababa;
$mineSharf: #333333;
$athensGray: #f2f3f7;
$scooter: #30b6dd;
$ghost: #c0c3ce;
$dustyGray: #999999;
$mineShaft: #333;
$gray-lighter: #f7f7f7;
$orange: #f9b166;
$charade: #2c2f3c;
$tundora: #4d4d4d;
$blueBayox: #556d7a;
$sanMarino: #3F7298;
$wildSand: #F5F5F5;

$border-color: #c0c3ce;

$table-bg: $white;
$table-accent-bg: darken($table-bg, 5%);
$table-cell-padding: 0.2rem 1rem;

$pagination-color: $black;
$pagination-active-bg: $orange;
$pagination-active-border-color: $orange;
$pagination-focus-box-shadow: $orange;
$pagination-hover-color: $orange;

$root-nav-height: 58px;
$root-nav-bg: #455a64;
$root-nav-link-active-bg: #546e7a;

$grid-toolbar-font-size: 12px;

$popover-max-width: 500px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
