$primary: #31b0d5;
$white: #FFFFFF;
$black: #000000;
$light-blue: #E1FFFF;
$dark-blue: #546E7A;
$trout: #484857;

$header: 70px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
