@import '../../styles/variables';
@import '../../styles/mixins';

.layout {
    width: 456px;
    margin: auto;
    padding: 24px 22px;
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 1px 24px 0 rgba($black, 0.04);

    &__container {
        flex-grow: 1;
        background-color: $dark-blue;
        background: url('../../assets/background.svg');
    }

    &__content {
        display: flex;
        height: 100%;
    }

    &__image {
        display: block;
        width: 158px;
        height: 120px;
        margin: auto;
    }

    &__title {
        margin: 10px auto;
        color: $trout;
        text-align: center;
        font-family: "Helvetica";
        font-size: 30px;
        line-height: 48px;
    }

    &__subtitle {
        @include input-text;

        margin: 0 auto;
        color: $dark-blue;
        text-align: center;
    }
}

