@import '../../../../styles/variables';

.import-drag-and-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 252px;
  border: 1px dashed $orange;
  border-radius: 4px;
  cursor: pointer;

  &__success {
    background: honeydew;
    border: 1px solid mediumaquamarine;
    cursor: auto;
  }

  &__fail {
    background: mistyrose;
    border: 1px solid indianred;
  }

  &__title {
    margin-top: 18px;
    font-size: 14px
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 12px;
    color: darkgray;
  }

  &__droparea-button {
    margin-top: 14px;
  }

  &__drag-active {
    border: 0;
    background: $orange;
    color: $white;
  }

  // TODO figure out why bootstrap button lose its padding or just try not to duplicate below styles
  &__import-button {
    border: none;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 16px;

    &[disabled] {
      color: white;
    }
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    background: transparent;
    border: none;

    &:hover {
      background: transparent;
    }
  }

  &__close-button-icon {
    color: silver;
  }
}
