@import "../../styles/variables";

.common-bird {
  &__info-blocks-container--column {
    display: flex;
    align-items: center;
    justify-content: center;

    .common-bird {
      &__field-container {
        width: 100% !important;
        padding: 0 12px 15px;
      }

      &__info-block {
        padding: 30px 12px 35px;
      }

      &__block-header-container {
        margin-left: 12px;
      }

      &__fields-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 50%;
        height: 390px;
      }

      &__row {
        display: flex;
        flex-flow: row;
      }
    }
  }

  &__info-blocks-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-block {
    margin-right: 33px;
    // height: 738px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__observations-column {
    display: flex;
    flex-direction: column;
  }

  &__block-header-container {
    display: flex;
    flex-direction: column;
  }

  &__block-header-title {
    color: $charade;
    font-weight: 100;
    line-height: 24px;
    font-size: 24px;
  }

  &__block-header-subtitle {
    color: $trout;
    font-size: 14px;
    line-height: 18px;
  }

  &__field-container {
    padding-bottom: 15px;
    width: 100%;

    .SingleDatePicker {
      .SingleDatePickerInput {
        border: 0;
        .DateInput__block {
          padding-right: 35px;
          border-radius: 0.25rem;
          color: $trout;
          border: 1px solid $ghost;
        }
        .SingleDatePickerInput_calendarIcon {
          position: absolute;
          right: 0;
          padding: 0 10px;
          line-height: 36px;
          margin: 0 1px 0 10px;
        }
        .DateInput_input {
          font-weight: 400;
          font-size: 1rem;
          padding: 7px 11px 5px;
          background-color: transparent;
        }
      }
      .SingleDatePickerInput__disabled  {
        .DateInput {
          background-color: $white;
          border: 0;
          .DateInput_input {
            padding-left: 0;
          }
        }
        .SingleDatePickerInput_calendarIcon {
          display: none;
        }
      }
    }
  }

  &__field-label {
    color: $tundora;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 6px;
    margin: 0;
  }

  &__find-btn {
    height: 30px;
    font-size: 12px;
    color: $mineSharf;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }

  &__separator {
    border-bottom: 1px dashed $dark-blue;
    padding-top: 24px;
    margin-bottom: 24px;
  }

  &__input {
    margin-bottom: 15px;

    &:disabled {
      background: transparent;
      border: none;
      padding-left: 0;
    }

    &--area {
      resize: none;
    }
  }
}
