@import "../../styles/variables";

.common-bird {
  &__fields-container {
    display: flex;
  }

  &__input--ring-number,
  &__input-date-time,
  &__input-date-time--year,
  &__input-coords {
    margin-right: 15px;
  }

  &__input--ring-number {
    width: 80px;
  }

  &__input-date-time,
  &__input-date-time--year {
    width: 65px;
  }

  &__input-coords {
    width: 100px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:nth-child(odd) {
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }

    .common-bird {
      &__field-container,
      &__row {
        width: 100%;
      }

      &__button-group {
        margin-left: 25px;
      }

      &__field-container--group,
      &__row {
        display: flex;
        flex-flow: row wrap;
      }

      &__row {
        justify-content: space-between;
      }

      &__field-container {
        flex: 1;

        &--group {
          padding-bottom: 15px;

          .common-bird__field-label {
            width: 0;
            flex: 0 0 100%;
          }
        }

        &--simple {
          display: flex;
          flex-flow: column;
          width: 150px;
          margin: 0 25px;
        }
      }
    }
  }

  &__info-blocks-container {
    display: flex;
    flex-flow: column;
  }

  &__info-block-body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 250px;
  }

  &__info-block {
    margin-right: 33px;
    height: 738px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__observations-column {
    display: flex;
    flex-direction: column;
  }

  &__block-header-container {
    display: flex;
    flex-direction: column;
  }

  &__block-header-title {
    color: $charade;
    font-weight: 100;
    line-height: 24px;
    font-size: 24px;
  }

  &__block-header-subtitle {
    color: $trout;
    font-size: 14px;
    line-height: 18px;
  }

  &__row,
  &__field-container {
    width: 48%;
  }

  &__row {
    display: flex;
    flex-flow: row;

    &-part {
      display: flex;
      flex-flow: column;
      margin-right: 25px;
    }

    .common-bird__field-container {
      width: 200px;
      min-width: 200px;
    }
  }

  &__input-container {
    display: flex;

    & > input:first-child {
      margin-right: 15px;
    }
  }

  &__field-container {
    padding-bottom: 15px;

    .SingleDatePicker {
      .SingleDatePickerInput {
        border: 0;
        .DateInput__block {
          padding-right: 35px;
          border-radius: 0.25rem;
          color: $trout;
          border: 1px solid $ghost;
        }
        .SingleDatePickerInput_calendarIcon {
          position: absolute;
          right: 0;
          padding: 0 10px;
          line-height: 36px;
          margin: 0 1px 0 10px;
        }
        .DateInput_input {
          font-weight: 400;
          font-size: 1rem;
          padding: 7px 11px 5px;
          background-color: transparent;
        }
      }
      .SingleDatePickerInput__disabled  {
        .DateInput {
          background-color: $white;
          border: 0;
          .DateInput_input {
            padding-left: 0;
          }
        }
        .SingleDatePickerInput_calendarIcon {
          display: none;
        }
      }
    }
  }

  &__field-label {
    color: $tundora;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 6px;
    margin: 0;
  }

  &__find-btn {
    height: 30px;
    font-size: 12px;
    color: $mineSharf;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }

  &__separator {
    border-bottom: 1px dashed $dark-blue;
    padding-top: 24px;
    margin-bottom: 24px;
  }

  &__input {
    margin-bottom: 15px;

    &:disabled {
      background: transparent;
      border: none;
      padding-left: 0;
    }

    &--area {
      resize: none;
    }
  }
}
