@import '../../../styles/variables';
@import '../../../styles/mixins';

.bird-info {
  padding: 15px;
  background-color: $white;

  &__header {
    display: flex;
    align-items: center;
  }

  &__header-buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    padding-right: 15px;
    color: $mineSharf;
    font-size: 42px;
    font-weight: 100;
    line-height: 51px;
  }

  &__btn {
    height: 30px;
    background-color: $dark-blue;
    color: $white;
    padding: 0 20px 0;
    font-family: "Open Sans";
    font-size: 13px;
    margin-left: auto;

    &:hover, &:active {
      @include button-shadow;

      background-color: $dark-blue !important;
    }
  }

  &__subtitle {
    color: $silver;
    font-size: 14px;
    line-height: 18px;
  }

  &__euring-title {
    color: $mineSharf;
    font-family: "Open Sans";
    font-size: 22px;
    margin-bottom: 12px;
  }

  &__euring {
    color: $mineSharf;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 18px;
    word-break: break-all;
  }

  &__obs-history-title {
    color: $charade;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
    padding: 30px 0 10px;
    margin: 0;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
  }

  &__back-btn,
  &__edit-btn {
    height: 36px;
    font-size: 15px;
    padding: 0 20px;
    border: none;
  }

  &__back-btn {
    background-color: transparent;
    color: $dark-blue;
    border: 1px solid $dark-blue;

    &:hover {
      background-color: rgba($blueBayox, 1);
    }
  }

  &__edit-btn {
    background-color: rgba($orange, 0.9);
    margin-left: auto;

    &:hover {
      background-color: rgba($orange, 1);
    }
  }

  &__page-back-btn {
    margin: 2px 0 10px;
  }
}