@import "../../styles/variables";

.checkbox {
  padding: 0 !important;

  &-label {
    display: flex !important;
    margin-left: 0 !important; //correction for material internal padding
    margin-right: 0 !important; //correction for material internal padding
  }

  &-root {
    color: $border-color !important;
  }

  &-checked {
    color: $primary !important;
  }

}
