@import "../../styles/variables";

.autosuggest {
  &__menu {
    padding-top: 12px;

    .checkbox-label {
      padding: 0 12px;
    }
  }

  &__search-container {
    padding: 12px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
  }

  &__input-field {
    color: $dustyGray;
    font-size: 12px;
    height: 26px;
    min-width: 189px;
  }

  &__item {
    font-size: 14px;
    color: $mineShaft;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $sanMarino;
      color: $white;

      .autosuggest__item-id {
        color: $white;
      }
    }

    &:focus {
      background-color: $wildSand;
      color: $mineShaft;

      .autosuggest__item-id {
        color: $dustyGray;
      }
    }
  }

  &__item-id {
    color: $dustyGray;
    margin-right: 10px;
  }
}
