@import '../../styles/variables';

.autosuggest {
  &__menu {
    max-height: 200px;
    height: auto;
    overflow-y: auto;
  }

  &__search-container {
    padding: 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
  }

  &__input-field {
    color: $dustyGray;
    font-size: 12px;
    height: 26px;
    min-width: 189px;
  }

  &__item {
    font-size: 12px;
    color: $mineShaft;
  }
}
