@import '../../../styles/variables';

.observation-info{
  padding: 15px;
  background-color: $white;

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__page-header {
    padding-right: 30px;
  }

  &__header-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
  }

  &__back-btn,
  &__edit-btn {
    height: 36px;
    font-size: 16px;
    padding: 0 20px;
    border: none;
  }

  &__back-btn {
    background-color: transparent;
    color: $dark-blue;
    border: 1px solid $dark-blue;

    &:hover {
      background-color: rgba($blueBayox, 1);
    }
  }

  &__edit-btn {
    background-color: rgba($orange, 0.9);

    &:hover {
      background-color: rgba($orange, 1);
    }
  }
}