@import "~react-table/react-table.css";
@import "~react-table-hoc-fixed-columns/lib/styles.css";

$fixed-part-shadow-width: 10px;
$cell-padding-h: 15px;
$cell-padding-v: 5px;

.rthfc .-filters .rt-th.rthfc-th-fixed-left-last,
.rthfc .rt-th.rthfc-th-fixed-left-last,
.rthfc .rt-td.rthfc-td-fixed-left-last {
  border-right: none;

  // for :after to be visible.
  // TODO this could cause problems with text elipsis in last fixed column. fix if needed
  overflow: visible;

  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: $fixed-part-shadow-width;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05), transparent);
  }
}

.ReactTable {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 20px;

  .rt-thead.-header,
  .rt-tbody .rt-tr-group {
    box-shadow: none;
    border-bottom: solid 1px #02000014;
  }

  .rt-thead .rt-th {
    min-height: 3em;
  }

  .rt-thead .rt-th,
  .rt-tbody .rt-td {
    border-right: none;
    padding: $cell-padding-v $cell-padding-h;

    display: flex;
    align-items: center;
  }
}
