@import "~@devexpress/dx-react-grid-bootstrap4/dist/dx-react-grid-bootstrap4.css";
@import "~open-iconic/font/css/open-iconic-bootstrap.css";
@import "~open-iconic/font/css/open-iconic.css";
@import "../../styles/variables";

$fixed-part-shadow-width: 10px;

.dx-g-bs4-fixed-cell {
  // override badly written grid styles
  border-right: none !important;
  background-color: inherit !important;
  z-index: $zindex-fixed;

  // for :after to be visible.
  overflow: visible;

  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: $fixed-part-shadow-width;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05), transparent);
  }
}

.table-cell-value {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dx-g-bs4-table-container {
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 20px;
  //font-size: 14px;

  .dx-g-bs4-table {
    thead th {
      border-bottom: none;
      background-color: $lighter-blue !important;
      color: $darker-blue;
      height: 48px;
      vertical-align: middle;
      padding: 0;
      //font-size: 13px;

      .dx-g-bs4-header-cell-content {
        padding: 2px 16px;

        .dropdown {
          position: static;
          align-self: center;
        }

        .dropdown__dropdown {
          border: none;
          padding: 0;
          margin-left: 6px;
          width: auto;

          &:hover, &:active, &:focus {
            background-color: transparent !important;
            outline: none !important;
            box-shadow: none !important;
          }
        }

        .dropdown__menu-container {
          transform: none !important; // to override inline styles
          top: 100% !important; // to override inline styles
        }
      }
      .filter-toggle-button {
        &:hover, &:active, &:focus {
          background-color: transparent !important;
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }

    thead tr:first-child th {
      border-top: none;
    }
  }

  tbody tr {
    background-color: $table-bg;
  }
}

.filter-toggle-button {
  background-image: url("../../assets/filter-icon.svg");
  background-size: 100%;
  height: 12px;
  width: 12px;

  &:hover, &:active, &:focus, &--active, .show & {
    background-image: url("../../assets/filter-icon-active.svg");
  }
}

.dx-g-bs4-toolbar,
.dx-g-bs4-paging-panel {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.dx-g-bs4-paging-panel {
  .pagination {
    margin-left: 2em !important; // override m-0 class set by grid
  }
}
