@import '../../styles/variables';

.info-container {
  display: inline-block;
  padding: 12px 12px 24px 24px;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 1px 24px 0 $athensGray;
  min-width: 394px;

  &__title {
    color: $mineSharf;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
  }

  &__header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: stretch;

    &--with-btn {
      padding-bottom: 0;
    }
  }
}